<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <title>Currency converter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="js/app.module.js"></script>
    <script type="text/javascript" src="js/app.controller.js"></script>
    <script type="text/javascript" src="js/search.service.js"></script>
    
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-controller="appController as appCtrl">
    <h1 align="center">Currency converter</h1>
    <form>
    <div class="cols-xs-2">
    <select class="form-control" ng-model="appCtrl.currencyFrom">
        <option disabled selected value required> -- Select base currency -- </option>
        <option ng-repeat="(currency,value) in appCtrl.list.data.rates" value="{{currency}}">{{currency}}</option>
    </select>
    </div>
    <input type="number" class="form-control input-sm" name="" ng-model="appCtrl.money">
    <select class="form-control" ng-model="appCtrl.currencyTo">
        <option disabled selected value required> -- Select base currency -- </option>
        <option ng-repeat="(currency,value) in appCtrl.list.data.rates" value="{{currency}}">{{currency}}</option>
    </select>
    <br>
    <a href="" class="btn btn-primary" ng-click="appCtrl.calculate()">Calculate</a>
    </form>
    <h3 ng-show="appCtrl.hasValue" align="center">${{appCtrl.convertedValue}} {{appCtrl.currencyTo}}</h3>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>